body {padding: 15px;}
td.key {font-weight: bold;white-space: nowrap;}
td.value {padding-left: 10px;}
.apointer {cursor: pointer;}
.apointer + label {margin-left: 20px;}
.bug-table {width: 100%; max-width: 100%;}
.bug-table pre {white-space: pre-wrap;}
.bug-table img {max-width: 100%;}
