<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.vertical-tabs.min.css">
		<link rel="stylesheet" type="text/css" href="css/popup.css"/>
	</head>
	<body ng-app="BugApp">
		<!-- setup -->
		<form style="margin: 15px;width: 320px;" ng-controller="SetupController" name="setupForm" ng-if="!ready" novalidate>
			<div class="form-group">
				<label>服务器地址</label>
				<div class="input-group">
					<div class="input-group-addon">http://</div>
					<input type="text" class="form-control" ng-model="server" required name="server">
				</div>
			</div>
			<div class="form-group">
				<label for="bug-server-type">服务器类型</label>
				<select id="bug-server-type" type="text" ng-model="type" name="bug-server-type" class="form-control" readonly>
					<option value="bugfree" selected>bugfree</option>
					<option value="chandao">禅道(暂不支持)</option>
				</select>
			</div>

			<div class="form-group">
				<label for="username">用户名</label>
				<input id="username" class="form-control" ng-model="username" type="text" name="username" required>
			</div>

			<div class="form-group">
				<label for="password">密码</label>
				<input id="password" class="form-control" ng-model="password" type="password" name="password" required>
			</div>

			<div class="text-center">
				<button class="btn btn-primary" ng-disabled="setupForm.$invalid" ng-click="saveSetup()" type="button">保存</button>
			</div>

			<p ng-show="!!error" class="text-danger" ng-bind="error"></p>
		</form>
		<!-- bug ui -->
		<div class="row" style="width: 450px;margin: 15px;" ng-controller="BugController" ng-if="ready">
			<div ng-show="bugs.length === 0" class="well well-lg text-success" ng-class="{'text-success': !bugError, 'text-danger': !!bugError}">
				<p ng-if="bugError.length > 0">
					糟糕😰，浏览器插件出错了！出错原因：<br/>
					{{bugError}}
				</p>
				<p ng-if="bugError.length === 0">没有 bug，你很棒棒哒哟！！！</p>
				<p><a ng-click="openBugfree()">在新标签页打开 bugfree</a></p>
			</div>
			<div class="col-xs-3">
				<ul class="nav nav-tabs tabs-left">
				  <li ng-repeat="bug in bugs track by bug.ID" ng-class="{active: bug.ID === bugIndex}"><a ng-click="setBugIndex(bug.ID)" ng-bind="bug.ID"></a></li>
				</ul>
			</div>

			<div class="col-xs-9">
				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane" ng-repeat="bug in bugs track by bug.ID" ng-class="{active: bug.ID === bugIndex}">
					<table>
						<tr ng-repeat="col in columns track by $index" ng-show="!!bug[col]">
							<td class="key" ng-bind="col"></td>
							<td class="value" ng-bind="bug[col]"></td>
						</tr>
					</table>
				  </div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/popup.js"></script>
	</body>
</html>
